[user]
	name = Aymen Chikeb
	email = aymen_chikeb@outlook.com
[init]
  defaultBranch = master
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[alias]
    ls = !eza --git --group-directories-first --icons
    ll = !eza --git --group-directories-first --icons -l
    la = !eza --git --group-directories-first --icons -la
